* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Franklin Gothic Medium', sans-serif;

    overflow: hidden;
}

.hidden {
    display: none;
}